<div class="loading" *ngIf="loading">
  <img src="assets/Images/loading.svg" class="loading-image" />
</div>
<kendo-card width="100%" style="height:100% ;">
  <kendo-card-header style="padding: 8px;">
    <h3>Create</h3>
  </kendo-card-header>
  <kendo-card-body>
    <form [formGroup]="invoiceForm" class="k-form">
      <div class="searchbox">
        <div class="rows">
          <div class="cols">
            <kendo-textbox placeholder="Vendor Name *" formControlName="VendorName">
            </kendo-textbox>
          </div>
          <div class="cols">
            <kendo-textbox placeholder="Billing Name *" formControlName="BillingName">
            </kendo-textbox>
          </div>
          <div class="cols">
            <kendo-datepicker placeholder="Date *" formControlName="Date"  [format]="'yyyy-MM-dd'"></kendo-datepicker>
          </div>
          <div class="cols">
            <kendo-textbox placeholder="Invoice Number *" formControlName="InvoiceNumber">
            </kendo-textbox>
          </div>
          <div class="cols">
            <kendo-textbox
              placeholder="Total Amount *"
              formControlName="TotalAmount"
            ></kendo-textbox>
          </div>
        </div>
        <div class="rows">
          <div class="cols">
            <kendo-textarea [rows]="15" placeholder="Paste base64 code here" formControlName="base64Code">
            </kendo-textarea>
          </div>
        </div>

        <div class="rows">
          <div class="cols searchbtn">
            <button kendoButton [primary]="true" [disabled]="!invoiceForm.valid" (click)="onSubmit()" icon="save">
              SUBMIT
            </button>
          </div>
        </div>
      </div>
    </form>
  </kendo-card-body>
</kendo-card>


<kendo-dialog title="Message" *ngIf="openedDialog" (close)="close('cancel')" [minWidth]="250" [width]="450">
  <p style="text-align: center">{{message}}</p>

</kendo-dialog>
